<div>
  <!--
    company - the company that has the subscription
    plan_name - the name of the plan
    name - the name of the user
    sub_term - the term for the subscription
    -->
  <h2>Hello {{name}}</h2>
  <p>Thank you for subscriping to
    {{company}}. Your subscription for
    {{plan_name}}
    has successfully been filled. We have now granted authorization to your
    account.</p>
  <p>Please begin using your new features for your account. Your subscription
    will be billed automatically every
    {{sub_term}}.</p>
</div>