<div>
  <!--
    new_password
    -->
  <h2>Hello</h2>
  <p>We are sending you this email because you have requested that you have
    forgotten your email. Your new password is below. If you have not requested
    for resetting your password, please disregard this email.</p>
  <h3>{{new_password}}</h3>
  <p> Thank you</p>
</div>