<div>
  <!--
  name
  company
  verificationLink
-->
  <p>Hello {{name}}</p>
  <h1>Welcome to {{company}}</h1>
  <p>Please verify your email with the following link</p>
  <a href="{{verificationLink}}">
    {{verificationLink}}
  </a>
  <h2>Thank You</h2>
</div>